In [1]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline


from sklearn import datasets, linear_model
#import statsmodels.api as sm
from scipy import stats
# from regressors import stats 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

import statsmodels.api as sm

In [2]:
data = pd.read_csv(r'C:\Users\jibar\OneDrive - Universidad de los andes\Clases_Maestria\CIENCIA DE DATOS\Tareas\Tarea5\Absenteeism_at_work.csv',sep = ';')

In [3]:
datas = data.copy()
data.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

In [4]:
data.shape

(740, 21)

In [5]:
def mytable(data):
    nulls = pd.DataFrame(data.isnull().sum()/data.shape[0]*100, columns=['% de datos nulos'])
    ceros = pd.DataFrame((data==0).sum()/data.shape[0]*100, columns=['% de ceros'])
    tipo = pd.DataFrame(data.dtypes,columns=['Tipo de datos'])
    val = pd.DataFrame(data.nunique(),columns=['# de valores diferentes'])
    mis_val_table = pd.concat([nulls, ceros,tipo, val], axis=1)
    return mis_val_table

In [6]:
mytable(data)

,% de datos nulos,% de ceros,Tipo de datos,# de valores diferentes
ID,0.0,0.000000,int64,36
Reason for absence,0.0,5.810811,int64,28
Month of absence,0.0,0.405405,int64,13
Day of the week,0.0,0.000000,int64,5
Seasons,0.0,0.000000,int64,4
Transportation expense,0.0,0.000000,int64,24
Distance from Residence to Work,0.0,0.000000,int64,25
Service time,0.0,0.000000,int64,18
Age,0.0,0.000000,int64,22
Work load Average/day,0.0,0.000000,float64,38
Hit target,0.0,0.000000,int64,13
Disciplinary failure,0.0,94.594595,int64,2
Education,0.0,0.000000,int64,4
Son,0.0,40.270270,int64,5
Social drinker,0.0,43.243243,int64,2
Social smoker,0.0,92.702703,int64,2
Pet,0.0,62.162162,int64,6
Weight,0.0,0.000000,int64,26
Height,0.0,0.000000,int64,14
Body mass index,0.0,0.000000,int64,17
Absenteeism time in hours,0.0,5.945946,int64,19

In [7]:
data[data.columns[1:]].corr(method='pearson')['Absenteeism time in hours'][:]

Reason for absence                -0.173116
Month of absence                   0.024345
Day of the week                   -0.124361
Seasons                           -0.005615
Transportation expense             0.027585
Distance from Residence to Work   -0.088363
Service time                       0.019029
Age                                0.065760
Work load Average/day              0.024749
Hit target                         0.026695
Disciplinary failure              -0.124248
Education                         -0.046235
Son                                0.113756
Social drinker                     0.065067
Social smoker                     -0.008936
Pet                               -0.028277
Weight                             0.015789
Height                             0.144420
Body mass index                   -0.049719
Absenteeism time in hours          1.000000
Name: Absenteeism time in hours, dtype: float64

In [8]:
data[data.columns[1:]].corr(method='spearman')['Absenteeism time in hours'][:]

Reason for absence                -0.221587
Month of absence                   0.009768
Day of the week                   -0.094547
Seasons                           -0.070518
Transportation expense             0.166174
Distance from Residence to Work    0.009913
Service time                      -0.029951
Age                               -0.070307
Work load Average/day              0.011758
Hit target                         0.046822
Disciplinary failure              -0.396971
Education                          0.001160
Son                                0.150154
Social drinker                     0.105318
Social smoker                      0.002405
Pet                                0.002407
Weight                            -0.009216
Height                             0.071249
Body mass index                   -0.062574
Absenteeism time in hours          1.000000
Name: Absenteeism time in hours, dtype: float64

# Igualando modelo

In [9]:
X = data.drop(['Absenteeism time in hours','Seasons','ID'],axis = 1)
y = data['Absenteeism time in hours']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [11]:
model = LinearRegression()
model.fit(X=X_train,y=y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
print(model.intercept_)

#For retrieving the slope:
print(model.coef_)

18.13729235586391
[-5.24806409e-01  1.34570932e-01 -1.22526662e+00  2.16864356e-03
 -9.43630163e-03  3.49544320e-02  2.47683048e-01 -1.31694399e-02
  1.89273374e-01 -1.79712396e+01 -1.87254858e+00  1.40951984e+00
  1.00767855e+00 -4.42345450e+00 -2.68341430e-01  2.61161085e-01
 -4.28974063e-02 -1.21609665e+00]

In [13]:
pd.options.display.float_format = '{:.8f}'.format
coeff_df = pd.DataFrame(zip(X.columns,model.coef_)) 
mod = sm.OLS(y_train,X_train)

fii = mod.fit()

p_values = fii.summary2().tables[1]['P>|t|']
coeff_df['pvalues']=p_values.values
coeff_df

                                  0            1    pvalues
0                Reason for absence  -0.52480641 0.00000000
1                  Month of absence   0.13457093 0.42530219
2                   Day of the week  -1.22526662 0.00174721
3            Transportation expense   0.00216864 0.81452784
4   Distance from Residence to Work  -0.00943630 0.85357184
5                      Service time   0.03495443 0.83406955
6                               Age   0.24768305 0.06417165
7            Work load Average/day   -0.01316944 0.37966648
8                        Hit target   0.18927337 0.22674113
9              Disciplinary failure -17.97123955 0.00000000
10                        Education  -1.87254858 0.05486836
11                              Son   1.40951984 0.01663388
12                   Social drinker   1.00767855 0.55924819
13                    Social smoker  -4.42345450 0.05130089
14                              Pet  -0.26834143 0.64152287
15                           Weight   0.26116109 0.37540309
16                           Height  -0.04289741 0.58946894
17                  Body mass index  -1.21609665 0.06302860

In [14]:
y_pred = model.predict(X)
y_test = y
y_pred_train = model.predict(X_train)

In [15]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R^2 sobre train:', metrics.r2_score(y_train, y_pred_train))
print('R^2 sobre test:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 6.1569132456315305
Mean Squared Error: 151.59866980831637
Root Mean Squared Error: 12.312541159659787
R^2 sobre train: 0.1610130121956892
R^2 sobre test: 0.14580438264708662

In [16]:
coeff_df[coeff_df['pvalues']<0.05]

                       0            1    pvalues
0     Reason for absence  -0.52480641 0.00000000
2        Day of the week  -1.22526662 0.00174721
9   Disciplinary failure -17.97123955 0.00000000
11                   Son   1.40951984 0.01663388

Normalizando y Estandarizando

<h1>2.</h1>

In [17]:
obj = object
real_types= {'ID':obj, 'Reason for absence':obj, 'Month of absence':obj, 'Day of the week':obj,
       'Seasons':obj, 'Transportation expense':float, 'Distance from Residence to Work':float,
       'Service time':float, 'Age':int, 'Work load Average/day ':float, 'Hit target':float,
       'Disciplinary failure':int, 'Education':obj, 'Son':int, 'Social drinker':int,
       'Social smoker':int, 'Pet':int, 'Weight':float, 'Height':float, 'Body mass index':float,
       'Absenteeism time in hours':float}

In [18]:
data = data.astype(real_types)

In [19]:
# data.drop(['ID','Season'],axis = 1)
data = data.drop(['Seasons','ID'],axis = 1)

In [20]:
num = data.select_dtypes([float,int])
obj =data.select_dtypes([object])

In [21]:
num.describe()

,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000,740.00000000
mean,221.32972973,29.63108108,12.55405405,36.45000000,271.49023514,94.58783784,0.05405405,1.01891892,0.56756757,0.07297297,0.74594595,79.03513514,172.11486486,26.67702703,6.92432432
std,66.95222325,14.83678844,4.38487341,6.47877246,39.05811619,3.77931313,0.22627727,1.09848902,0.49574867,0.26026805,1.31825829,12.88321051,6.03499453,4.28545222,13.33099810
min,118.00000000,5.00000000,1.00000000,27.00000000,205.91700000,81.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,56.00000000,163.00000000,19.00000000,0.00000000
25%,179.00000000,16.00000000,9.00000000,31.00000000,244.38700000,93.00000000,0.00000000,0.00000000,0.00000000,0.00000000,0.00000000,69.00000000,169.00000000,24.00000000,2.00000000
50%,225.00000000,26.00000000,13.00000000,37.00000000,264.24900000,95.00000000,0.00000000,1.00000000,1.00000000,0.00000000,0.00000000,83.00000000,170.00000000,25.00000000,3.00000000
75%,260.00000000,50.00000000,16.00000000,40.00000000,294.21700000,97.00000000,0.00000000,2.00000000,1.00000000,0.00000000,1.00000000,89.00000000,172.00000000,31.00000000,8.00000000
max,388.00000000,52.00000000,29.00000000,58.00000000,378.88400000,100.00000000,1.00000000,4.00000000,1.00000000,1.00000000,8.00000000,108.00000000,196.00000000,38.00000000,120.00000000

In [22]:
obj.describe()

        Reason for absence  Month of absence  Day of the week  Education
count                  740               740              740        740
unique                  28                13                5          4
top                     23                 3                2          1
freq                   149                87              161        611

In [23]:
mytable(data)

,% de datos nulos,% de ceros,Tipo de datos,# de valores diferentes
Reason for absence,0.00000000,5.81081081,object,28
Month of absence,0.00000000,0.40540541,object,13
Day of the week,0.00000000,0.00000000,object,5
Transportation expense,0.00000000,0.00000000,float64,24
Distance from Residence to Work,0.00000000,0.00000000,float64,25
Service time,0.00000000,0.00000000,float64,18
Age,0.00000000,0.00000000,int32,22
Work load Average/day,0.00000000,0.00000000,float64,38
Hit target,0.00000000,0.00000000,float64,13
Disciplinary failure,0.00000000,94.59459459,int32,2
Education,0.00000000,0.00000000,object,4
Son,0.00000000,40.27027027,int32,5
Social drinker,0.00000000,43.24324324,int32,2
Social smoker,0.00000000,92.70270270,int32,2
Pet,0.00000000,62.16216216,int32,6
Weight,0.00000000,0.00000000,float64,26
Height,0.00000000,0.00000000,float64,14
Body mass index,0.00000000,0.00000000,float64,17
Absenteeism time in hours,0.00000000,5.94594595,float64,19

In [24]:
data_dummy = pd.get_dummies(data,drop_first=True)

In [25]:
data_dummy

,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Son,Social drinker,Social smoker,...,Month of absence_10,Month of absence_11,Month of absence_12,Day of the week_3,Day of the week_4,Day of the week_5,Day of the week_6,Education_2,Education_3,Education_4
0,289.00000000,36.00000000,13.00000000,33,239.55400000,97.00000000,0,2,1,0,...,0,0,0,1,0,0,0,0,0,0
1,118.00000000,13.00000000,18.00000000,50,239.55400000,97.00000000,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2,179.00000000,51.00000000,18.00000000,38,239.55400000,97.00000000,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,279.00000000,5.00000000,14.00000000,39,239.55400000,97.00000000,0,2,1,1,...,0,0,0,0,0,1,0,0,0,0
4,289.00000000,36.00000000,13.00000000,33,239.55400000,97.00000000,0,2,1,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,289.00000000,36.00000000,13.00000000,33,264.60400000,93.00000000,0,2,1,0,...,0,0,0,1,0,0,0,0,0,0
736,235.00000000,11.00000000,14.00000000,37,264.60400000,93.00000000,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
737,118.00000000,14.00000000,13.00000000,40,271.21900000,95.00000000,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
738,231.00000000,35.00000000,14.00000000,39,271.21900000,95.00000000,0,2,1,0,...,0,0,0,0,1,0,0,0,0,0
739,179.00000000,45.00000000,14.00000000,53,271.21900000,95.00000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [26]:
data_dummy.shape

(740, 61)

In [27]:
X = data_dummy.drop(['Absenteeism time in hours'],axis = 1)
y = data_dummy['Absenteeism time in hours']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [28]:
model = LinearRegression()
model.fit(X=X_train,y=y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
print(model.intercept_)

#For retrieving the slope:
print(model.coef_)

-84.98016159658718
[ 1.24630967e-02 -2.58929151e-02  1.96187224e-01  2.07697682e-01
 -1.94003318e-02  2.26125046e-01 -7.56319547e+00  1.23996575e+00
 -1.13309580e+00 -3.24888857e+00 -3.39160943e-01 -1.73233074e-01
  4.16727492e-01  1.54088403e-01 -1.29363165e+00 -4.06341627e-14
 -2.78110868e-14 -4.41541196e+00 -2.18217362e+00  1.05562065e+01
  3.92041679e+00 -1.20557319e+00  3.34873436e+01  2.44360764e+00
  5.00012237e+00  2.23742190e+01  9.90498654e+00 -6.78045048e-01
 -5.43186056e+00 -5.00224083e+00  1.15942356e+00  2.83488309e+00
  9.66750306e+00  1.38466153e+00  8.00971790e-01 -4.69121484e+00
 -2.11314600e-01 -4.49085435e+00 -1.88872216e+00 -1.72900087e+00
 -5.76675064e+00  2.02155757e+00  2.51866096e+00  5.41618639e+00
  5.98995343e+00  2.74093284e+00  4.06236640e+00  7.62087084e+00
  3.80686930e+00  5.24985974e+00  4.61163067e+00  5.74493878e+00
  7.20052876e+00 -2.79261671e-01 -3.06813118e+00 -3.64734987e+00
 -2.74971378e+00 -3.99416199e+00 -4.32969001e+00 -1.07795605e+01]

In [30]:
pd.options.display.float_format = '{:.8f}'.format
coeff_df = pd.DataFrame(zip(X.columns,model.coef_)) 
mod = sm.OLS(y_train,X_train)

fii = mod.fit()

p_values = fii.summary2().tables[1]['P>|t|']
coeff_df['pvalues']=p_values.values
coeff_df

                                  0            1    pvalues
0            Transportation expense   0.01246310 0.28146177
1   Distance from Residence to Work  -0.02589292 0.74103354
2                      Service time   0.19618722 0.51986350
3                               Age   0.20769768 0.09164034
4            Work load Average/day   -0.01940033 0.19593022
5                        Hit target   0.22612505 0.48290774
6              Disciplinary failure  -7.56319547 0.02791826
7                               Son   1.23996575 0.04373904
8                    Social drinker  -1.13309580 0.56303257
9                     Social smoker  -3.24888857 0.26981463
10                              Pet  -0.33916094 0.39116646
11                           Weight  -0.17323307 0.12512590
12                           Height   0.41672749 0.82026873
13                  Body mass index   0.15408840 0.03114123
14             Reason for absence_1  -1.29363165 0.71994219
15             Reason for absence_2  -0.00000000 0.34843481
16             Reason for absence_3  -0.00000000 0.13786654
17             Reason for absence_4  -4.41541196 0.57677490
18             Reason for absence_5  -2.18217362 0.71293985
19             Reason for absence_6  10.55620648 0.04798096
20             Reason for absence_7   3.92041679 0.48408748
21             Reason for absence_8  -1.20557319 0.79317433
22             Reason for absence_9  33.48734362 0.00000219
23            Reason for absence_10   2.44360764 0.62010859
24            Reason for absence_11   5.00012237 0.24556488
25            Reason for absence_12  22.37421899 0.00015976
26            Reason for absence_13   9.90498654 0.00832386
27            Reason for absence_14  -0.67804505 0.76813965
28            Reason for absence_15  -5.43186056 0.48259204
29            Reason for absence_16  -5.00224083 0.53614634
30            Reason for absence_17   1.15942356 0.94834109
31            Reason for absence_18   2.83488309 0.54631025
32            Reason for absence_19   9.66750306 0.01409034
33            Reason for absence_21   1.38466153 0.90336560
34            Reason for absence_22   0.80097179 0.95412707
35            Reason for absence_23  -4.69121484 0.10436628
36            Reason for absence_24  -0.21131460 0.84522124
37            Reason for absence_25  -4.49085435 0.23709317
38            Reason for absence_26  -1.88872216 0.50605167
39            Reason for absence_27  -1.72900087 0.51877359
40            Reason for absence_28  -5.76675064 0.05486707
41               Month of absence_1   2.02155757 0.88890519
42               Month of absence_2   2.51866096 0.79849565
43               Month of absence_3   5.41618639 0.48953158
44               Month of absence_4   5.98995343 0.45154499
45               Month of absence_5   2.74093284 0.78060315
46               Month of absence_6   4.06236640 0.65221762
47               Month of absence_7   7.62087084 0.32779463
48               Month of absence_8   3.80686930 0.72988675
49               Month of absence_9   5.24985974 0.59217639
50              Month of absence_10   4.61163067 0.61866810
51              Month of absence_11   5.74493878 0.46929003
52              Month of absence_12   7.20052876 0.35588343
53                Day of the week_3  -0.27926167 0.78233989
54                Day of the week_4  -3.06813118 0.04017149
55                Day of the week_5  -3.64734987 0.02542385
56                Day of the week_6  -2.74971378 0.08611252
57                      Education_2  -3.99416199 0.11881788
58                      Education_3  -4.32969001 0.03902162
59                      Education_4 -10.77956053 0.21395041

In [31]:
coeff_df[coeff_df['pvalues']<0.05]

                        0           1    pvalues
6    Disciplinary failure -7.56319547 0.02791826
7                     Son  1.23996575 0.04373904
13        Body mass index  0.15408840 0.03114123
19   Reason for absence_6 10.55620648 0.04798096
22   Reason for absence_9 33.48734362 0.00000219
25  Reason for absence_12 22.37421899 0.00015976
26  Reason for absence_13  9.90498654 0.00832386
32  Reason for absence_19  9.66750306 0.01409034
54      Day of the week_4 -3.06813118 0.04017149
55      Day of the week_5 -3.64734987 0.02542385
58            Education_3 -4.32969001 0.03902162

In [32]:
y_pred = model.predict(X)
y_test = y
y_pred_train = model.predict(X_train)

In [33]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R^2 sobre train:', metrics.r2_score(y_train, y_pred_train))
print('R^2 sobre test:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 5.910589894834411
Mean Squared Error: 132.11491128872265
Root Mean Squared Error: 11.494125077130606
R^2 sobre train: 0.2998144703184511
R^2 sobre test: 0.2555872795421782

<h1>Estandarizacion</h1>

In [34]:
data.shape

(740, 19)

In [70]:
# data.drop(['ID','Season'],axis = 1)
data = data.drop(['Seasons','ID'],axis = 1)

In [97]:
data_dummy = pd.get_dummies(data,drop_first=True)

In [98]:
data_dummy

,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Son,Social drinker,Social smoker,...,Month of absence_10,Month of absence_11,Month of absence_12,Day of the week_3,Day of the week_4,Day of the week_5,Day of the week_6,Education_2,Education_3,Education_4
0,289.00000000,36.00000000,13.00000000,33,239.55400000,97.00000000,0,2,1,0,...,0,0,0,1,0,0,0,0,0,0
1,118.00000000,13.00000000,18.00000000,50,239.55400000,97.00000000,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2,179.00000000,51.00000000,18.00000000,38,239.55400000,97.00000000,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,279.00000000,5.00000000,14.00000000,39,239.55400000,97.00000000,0,2,1,1,...,0,0,0,0,0,1,0,0,0,0
4,289.00000000,36.00000000,13.00000000,33,239.55400000,97.00000000,0,2,1,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,289.00000000,36.00000000,13.00000000,33,264.60400000,93.00000000,0,2,1,0,...,0,0,0,1,0,0,0,0,0,0
736,235.00000000,11.00000000,14.00000000,37,264.60400000,93.00000000,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
737,118.00000000,14.00000000,13.00000000,40,271.21900000,95.00000000,0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
738,231.00000000,35.00000000,14.00000000,39,271.21900000,95.00000000,0,2,1,0,...,0,0,0,0,1,0,0,0,0,0
739,179.00000000,45.00000000,14.00000000,53,271.21900000,95.00000000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [99]:
data_dummy.shape

(740, 61)

In [102]:
X = data_dummy.drop(['Absenteeism time in hours'],axis = 1)
y = data_dummy['Absenteeism time in hours']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [53]:
num = X_train.select_dtypes(['float64','int32'])
dumm = X_train.select_dtypes(['uint8'])

num_tes  = X_test.select_dtypes(['float64','int32'])
dumm_tes= X_test.select_dtypes(['uint8'])

Transportation expense             float64
Distance from Residence to Work    float64
Service time                       float64
Age                                  int32
Work load Average/day              float64
Hit target                         float64
Disciplinary failure                 int32
Son                                  int32
Social drinker                       int32
Social smoker                        int32
Pet                                  int32
Weight                             float64
Height                             float64
Body mass index                    float64
Reason for absence_1                 uint8
Reason for absence_2                 uint8
Reason for absence_3                 uint8
Reason for absence_4                 uint8
Reason for absence_5                 uint8
Reason for absence_6                 uint8
Reason for absence_7                 uint8
Reason for absence_8                 uint8
Reason for absence_9                 uint8
Reason for absence_10                uint8
Reason for absence_11                uint8
Reason for absence_12                uint8
Reason for absence_13                uint8
Reason for absence_14                uint8
Reason for absence_15                uint8
Reason for absence_16                uint8
Reason for absence_17                uint8
Reason for absence_18                uint8
Reason for absence_19                uint8
Reason for absence_21                uint8
Reason for absence_22                uint8
Reason for absence_23                uint8
Reason for absence_24                uint8
Reason for absence_25                uint8
Reason for absence_26                uint8
Reason for absence_27                uint8
Reason for absence_28                uint8
Month of absence_1                   uint8
Month of absence_2                   uint8
Month of absence_3                   uint8
Month of absence_4                   uint8
Month of absence_5                   uint8
Month of absence_6                   uint8
Month of absence_7                   uint8
Month of absence_8                   uint8
Month of absence_9                   uint8
Month of absence_10                  uint8
Month of absence_11                  uint8
Month of absence_12                  uint8
Day of the week_3                    uint8
Day of the week_4                    uint8
Day of the week_5                    uint8
Day of the week_6                    uint8
Education_2                          uint8
Education_3                          uint8
Education_4                          uint8
dtype: object

In [103]:
model = LinearRegression()
model.fit(X=X_train,y=y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [104]:
print(model.intercept_)

#For retrieving the slope:
print(model.coef_)

-84.98016159658718
[ 1.24630967e-02 -2.58929151e-02  1.96187224e-01  2.07697682e-01
 -1.94003318e-02  2.26125046e-01 -7.56319547e+00  1.23996575e+00
 -1.13309580e+00 -3.24888857e+00 -3.39160943e-01 -1.73233074e-01
  4.16727492e-01  1.54088403e-01 -1.29363165e+00 -4.06341627e-14
 -2.78110868e-14 -4.41541196e+00 -2.18217362e+00  1.05562065e+01
  3.92041679e+00 -1.20557319e+00  3.34873436e+01  2.44360764e+00
  5.00012237e+00  2.23742190e+01  9.90498654e+00 -6.78045048e-01
 -5.43186056e+00 -5.00224083e+00  1.15942356e+00  2.83488309e+00
  9.66750306e+00  1.38466153e+00  8.00971790e-01 -4.69121484e+00
 -2.11314600e-01 -4.49085435e+00 -1.88872216e+00 -1.72900087e+00
 -5.76675064e+00  2.02155757e+00  2.51866096e+00  5.41618639e+00
  5.98995343e+00  2.74093284e+00  4.06236640e+00  7.62087084e+00
  3.80686930e+00  5.24985974e+00  4.61163067e+00  5.74493878e+00
  7.20052876e+00 -2.79261671e-01 -3.06813118e+00 -3.64734987e+00
 -2.74971378e+00 -3.99416199e+00 -4.32969001e+00 -1.07795605e+01]

In [105]:
pd.options.display.float_format = '{:.8f}'.format
coeff_df = pd.DataFrame(zip(X.columns,model.coef_)) 
mod = sm.OLS(y_train,X_train)

fii = mod.fit()

p_values = fii.summary2().tables[1]['P>|t|']
coeff_df['pvalues']=p_values.values
coeff_df

                                  0            1    pvalues
0            Transportation expense   0.01246310 0.28146177
1   Distance from Residence to Work  -0.02589292 0.74103354
2                      Service time   0.19618722 0.51986350
3                               Age   0.20769768 0.09164034
4            Work load Average/day   -0.01940033 0.19593022
5                        Hit target   0.22612505 0.48290774
6              Disciplinary failure  -7.56319547 0.02791826
7                               Son   1.23996575 0.04373904
8                    Social drinker  -1.13309580 0.56303257
9                     Social smoker  -3.24888857 0.26981463
10                              Pet  -0.33916094 0.39116646
11                           Weight  -0.17323307 0.12512590
12                           Height   0.41672749 0.82026873
13                  Body mass index   0.15408840 0.03114123
14             Reason for absence_1  -1.29363165 0.71994219
15             Reason for absence_2  -0.00000000 0.34843481
16             Reason for absence_3  -0.00000000 0.13786654
17             Reason for absence_4  -4.41541196 0.57677490
18             Reason for absence_5  -2.18217362 0.71293985
19             Reason for absence_6  10.55620648 0.04798096
20             Reason for absence_7   3.92041679 0.48408748
21             Reason for absence_8  -1.20557319 0.79317433
22             Reason for absence_9  33.48734362 0.00000219
23            Reason for absence_10   2.44360764 0.62010859
24            Reason for absence_11   5.00012237 0.24556488
25            Reason for absence_12  22.37421899 0.00015976
26            Reason for absence_13   9.90498654 0.00832386
27            Reason for absence_14  -0.67804505 0.76813965
28            Reason for absence_15  -5.43186056 0.48259204
29            Reason for absence_16  -5.00224083 0.53614634
30            Reason for absence_17   1.15942356 0.94834109
31            Reason for absence_18   2.83488309 0.54631025
32            Reason for absence_19   9.66750306 0.01409034
33            Reason for absence_21   1.38466153 0.90336560
34            Reason for absence_22   0.80097179 0.95412707
35            Reason for absence_23  -4.69121484 0.10436628
36            Reason for absence_24  -0.21131460 0.84522124
37            Reason for absence_25  -4.49085435 0.23709317
38            Reason for absence_26  -1.88872216 0.50605167
39            Reason for absence_27  -1.72900087 0.51877359
40            Reason for absence_28  -5.76675064 0.05486707
41               Month of absence_1   2.02155757 0.88890519
42               Month of absence_2   2.51866096 0.79849565
43               Month of absence_3   5.41618639 0.48953158
44               Month of absence_4   5.98995343 0.45154499
45               Month of absence_5   2.74093284 0.78060315
46               Month of absence_6   4.06236640 0.65221762
47               Month of absence_7   7.62087084 0.32779463
48               Month of absence_8   3.80686930 0.72988675
49               Month of absence_9   5.24985974 0.59217639
50              Month of absence_10   4.61163067 0.61866810
51              Month of absence_11   5.74493878 0.46929003
52              Month of absence_12   7.20052876 0.35588343
53                Day of the week_3  -0.27926167 0.78233989
54                Day of the week_4  -3.06813118 0.04017149
55                Day of the week_5  -3.64734987 0.02542385
56                Day of the week_6  -2.74971378 0.08611252
57                      Education_2  -3.99416199 0.11881788
58                      Education_3  -4.32969001 0.03902162
59                      Education_4 -10.77956053 0.21395041

In [109]:
coeff_df[coeff_df['pvalues']<0.05]

                        0           1    pvalues
6    Disciplinary failure -7.56319547 0.02791826
7                     Son  1.23996575 0.04373904
13        Body mass index  0.15408840 0.03114123
19   Reason for absence_6 10.55620648 0.04798096
22   Reason for absence_9 33.48734362 0.00000219
25  Reason for absence_12 22.37421899 0.00015976
26  Reason for absence_13  9.90498654 0.00832386
32  Reason for absence_19  9.66750306 0.01409034
54      Day of the week_4 -3.06813118 0.04017149
55      Day of the week_5 -3.64734987 0.02542385
58            Education_3 -4.32969001 0.03902162

In [111]:
y_pred = model.predict(X)
y_test = y
y_pred_train = model.predict(X_train)

In [112]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R^2 sobre train:', metrics.r2_score(y_train, y_pred_train))
print('R^2 sobre test:', metrics.r2_score(y_test, y_pred))

Mean Absolute Error: 5.910589894834411
Mean Squared Error: 132.11491128872265
Root Mean Squared Error: 11.494125077130606
R^2 sobre train: 0.2998144703184511
R^2 sobre test: 0.2555872795421782

<h1>Estandarizacion</h1>

In [57]:
data['Month of absence'].value_counts()

3     87
2     72
10    71
7     67
5     64
11    63
8     54
6     54
9     53
4     53
1     50
12    49
0      3
Name: Month of absence, dtype: int64

In [58]:
data[data['Month of absence']==0]

,Reason for absence,Month of absence,Day of the week,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
737,0,0,3,118.00000000,14.00000000,13.00000000,40,271.21900000,95.00000000,0,1,1,1,0,8,98.00000000,170.00000000,34.00000000,0.00000000
738,0,0,4,231.00000000,35.00000000,14.00000000,39,271.21900000,95.00000000,0,1,2,1,0,2,100.00000000,170.00000000,35.00000000,0.00000000
739,0,0,6,179.00000000,45.00000000,14.00000000,53,271.21900000,95.00000000,0,1,1,0,0,1,77.00000000,175.00000000,25.00000000,0.00000000